@page
@model TweetCool.Pages.TweetsModel
@{
    ViewData["Title"] = "Tweets";

}

<h1>Tweets</h1>
<div>

    @foreach (var item in Model.AllTweets)
    {
        <div class="card">

            <p>@item.DateTime : @item.Poster:</p>
            <p>@item.Content</p>
        </div>
    }
</div>